.customers-table-section {
  margin-top: 104px;
}

.customers-table-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 38px;
}

.customers-table-heading {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-transform: capitalize;
}

.customers-tools-bar {
  display: flex;
  align-items: stretch;
  column-gap: 15px;
}

.add-customer-btn {
  align-self: center;
}

.add-customer-btn:hover {
  cursor: pointer;
  border: 2px solid #00ac4f;
  border-radius: 50%;
  translate: 2px 0px;
}

.search-container {
  display: flex;
}

.search-btn {
  padding: 8px;
  border-radius: 10px 0 0 10px;
  background-color: #f9fbff;
}

.search-input {
  background-color: #f9fbff;
  border-radius: 0 10px 10px 0;
}

.search-input::placeholder {
  font-size: 12px;
  line-height: 18px;
  color: #b5b7c0;
}

.sort-container {
  display: flex;
  align-items: center;
  background-color: #f9fbff;
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 12px;
  line-height: 18px;
  color: #7e7e7e;
}

.sort-option-list {
  font-weight: 600;
  background-color: #f9fbff;
  color: #3d3c42;
}

.table-header,
.customer {
  display: grid;
  grid-template-columns: 19% 14% 17% 23% 15% 9% auto;
  align-items: center;
  padding: 24px 22px 24px 4%;
}

.table-heading {
  color: #b5b7c0;
  text-transform: capitalize;
}

.table-body {
  border-top: 1px solid #eee;
}

.message-empty {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 10px;
}

.dropdown-menu-container {
  margin-left: 18px;
}

.btn-dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  visibility: hidden;
}

.customer:hover .btn-dropdown {
  visibility: visible;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.btn-dropdown:hover {
  cursor: pointer;
}

.dropdown-menu {
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  font-weight: 400;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-menu > li {
  padding: 5px 20px;
  border-radius: 4px;
}

.dropdown-menu > li:hover {
  cursor: pointer;
  background-color: #292d32;
  color: #fff;
}

.customer-divider {
  margin: 0 auto;
  width: 92%;
  border-bottom: 1px solid #eee;
}

.table-footer {
  padding: 30px 4%;
  display: flex;
  justify-content: space-between;
}

.message-showing-data {
  color: #b5b7c0;
}

.btn-pagination {
  display: flex;
  column-gap: 12px;
}

.btn-pagination-previous,
.btn-pagination-next {
  padding: 10px;
  font-size: 12px;
  line-height: 4px;
  color: #404b52;
  background-color: #eee;
  border-radius: 4px;
  font-weight: 800;
  cursor: pointer;
}

.btn-pagination-previous:disabled,
.btn-pagination-previous[disabled],
.btn-pagination-next:disabled,
.btn-pagination-next[disabled] {
  opacity: 0.5;
  cursor: unset;
}
