.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 8px;
  margin: 9px 0;
  color: #9197b3;
  font-weight: 400;
  border-radius: 8px;
}

.menu-item:hover {
  box-shadow: 0px 0px 0px 2px #5932ea inset;
  cursor: pointer;
}

.menu-item-active {
  background-color: #5932ea;
  color: #fff;
  font-weight: 500;
}

.menu-item-label {
  display: flex;
  column-gap: 14px;
  align-items: center;
}
