.snackbar {
  visibility: hidden;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  border-radius: 16px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: fit-content;
  position: fixed;
  align-self: flex-end;
  margin-top: -40px;
  z-index: 2;
}

.status-icon {
  width: 36px;
  height: 36px;
}

.failed {
  visibility: visible;
  background-color: #ff715b;
  .status-icon {
    background-image: url('../../assets/images/snackbar/failed.webp');
  }
}

.success {
  visibility: visible;
  background-color: #00ac4f;
  .status-icon {
    background-image: url('../../assets/images/snackbar/successful.webp');
  }
}
