.status-tag {
  padding: 4px 0;
  border: 1px solid #df0404;
  border-radius: 4px;
  color: #df0404;
  background-color: #ffc5c5;
  text-align: center;
}

.status-active {
  border-color: #00b087;
  color: #008767;
  background-color: #16c09861;
}
